/*****MAIN*****/

html {
    background-color: #CFF5E7;
}

body {
    margin: 0;
    text-align: center;
}

/*****HOME*****/

h1 {
    margin-top: 0;
}

/*****CONTACT*****/

.div-1 {
    background-color: red;
    height: 100px;
    width: 100px;  
    position: absolute; 
    left: 200px;
    top: 200px;
}

.div-2 {
    background-color: blue;
    height: 100px;
    width: 100px; 
    position: absolute;
    left: 100px;
    top: 100px;
}

.div-3 {
    background-color: yellow;
    height: 100px;
    width: 100px; 
    position: absolute;
}